@{
    ViewBag.Title = "Forsiden";
}

<div class="jumbotron">
    <h1>ANUG</h1>
    <p class="lead">....</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Facebook</h2>
        <p>
			Facebook er vores primære online opholdssted, hvor du finder oversigt over arrangementer, kommer i kontakt med andre medlemmer m.m.
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/groups/13579470244/">Gå til siden &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>LinkedIn</h2>
	    <p>
			På LinkedIn siden kan du blive officielt medlem af ANUG, som også sikrer at du modtager vores nyhedsmail.
	    </p>
        <p><a class="btn btn-default" href="http://www.linkedin.com/groups?gid=35456">Gå til siden &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>...</h2>
        <p>...</p>
        <p><a class="btn btn-default" href="#">... &raquo;</a></p>
    </div>
</div>